@import '../../../variables.scss';

.sort-by-wrapper {
  background: $white;
  padding: 10px;
  border-radius: $border-radius;
  // border: $border;
  box-shadow: 0px 0px 10px $gray;
  border-color: $gray;

  select {
    border: none;
    outline: none;
  }
}

@media screen and (max-width: 480px) {
  .sort-by-wrapper {
    margin-right: 0;
  }
}
