@import '../../../variables.scss';

.tabular-view {
  background-color: $white;
  border: $border;
  box-shadow: $box-shadow;
  .title {
    padding: 20px;
  }
  .table-header {
    background-color: $light-gray;
    font-weight: bold;
    font-size: 110%;
    .th-cell {
      padding: 20px !important;
    }
  }
  .table-row {
    display: flex;
    border: $border;
    .table-cell {
      flex: 1;
      width: fit-content;
      padding: 10px;
      border-collapse: collapse;
      display: table-cell;
      overflow: hidden;
      img {
        width: auto;
        height: 80px;
        border-radius: 0;
      }
    }
  }
}
