@import '../../../variables.scss';

.app-title {
  margin: 0;
  font-size: large;
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}

.grid-container {
  display: grid;
  max-width: 100%;
  grid-gap: $grid-gap;
  grid-template-columns: 33% 33% 33%;
}

@media only screen and (min-width: 769px) {
  .grid-container {
    grid-template-columns: 32% 32% 32%;
  }
}

@media screen and (max-width: 768px) and (min-width: 480px) {
  .grid-container {
    grid-template-columns: 48% 48%;
  }
}

@media screen and (max-width: 480px) {
  .grid-container {
    grid-template-columns: 100%;
  }
}

.card {
  background-color: $white;
  // border: $border;
  border-radius: $border-radius;
  overflow: hidden;
  box-shadow: $box-shadow;
  border-color: $gray;
}
