$font-color: #2e2e2e;
$primary-color: #1b2dd1;
$gray: #cdcdcd;
$white: #ffffff;


$border-clr: rgba($gray, 0.3);
$light-gray: rgba($font-color, 0.06);

$border: 1px solid $border-clr;
$border-radius: 4px;

$padding-md: 50px;
